/*
Orange color: #e67e22

*/

/* ------------------------- */
/* BASIC SETUP */
/* ------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  font-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------- */

.row {
  max-width: 60em; /*1140px*/
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 3em;
  word-spacing: 3px;
}

h2 {
  font-size: 2em;
  font-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 30px;
}

.box p {
  font-size: 0.9em;
  line-height: 145%;
  /* text-align: center; */
}

.box h3 {
  /* text-align: center; */
  margin-top: 30px;
  color: #e67e22;
}

/* ----- ICONS ----- */
.box {
  margin-top: 15px;
  text-align: center;
}

.icon-small {
  /* display: inline-block; */
  width: 30px;
  /* text-align: center; */
  color: #e67e22;
  font-size: 120%;
}

svg.fa-sun {
  color: #ffc62a;
}

svg.fa-snowflake {
  color: #95f6ff;
}

svg.fa-train {
  color: #26c83c;
}

svg.fa-plane {
  color: #2e82ff;
}

/* ----- BUTTON ----- */
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.3em;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited {
  border: 1px solid #e67e22;
  background-color: #e67e22;
  color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  margin: 15px 15px 0 0;
  color: #e67e22;
}

.btn:hover,
.btn:active {
  background-color: #fff;
}

.btn-full:hover {
  background-color: Transparent;
  color: #e67e22;
}

.btn-ghost:hover {
  background-color: #e67e22;
  color: #fff;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(img/web-portland-oregon-multnomah-falls.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

/* .hero-wrapper {
  margin: 0 auto;
  margin-top: 200px;
  padding: 15px;
  width: 95%;
  overflow: hidden;
} */

/* .hero-button {
  margin: 0 auto;
  width: 50%;
  overflow: hidden;
} */

.hero-text-box {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15%;
  margin-left: 2%;
  margin-right: 2%;
  /* position: absolute;
  width: 60em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*half of its width/height up and to left*/ */
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 1em;
  margin-left: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

svg.svg-inline--fa.fa-user-secret.fa-w-14.fa-3x {
  /* height: 100px; */
  width: auto;
  float: left;
  margin-top: 0.6em;
  color: #e67e22;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 2.5em;
  margin-right: 2.5em;
}

.main-nav li {
  display: inline-block;
  margin-left: 2em;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: #e67e22;
  transition: color 0.2s;
  /* border-bottom: 1px solid rgba(230, 126, 34, 0.8); */
}

/* ------------------------- */
/* FEATURES */
/* ------------------------- */

.section-features .long-copy {
  margin-bottom: 40px;
}

/* ------------------------- */
/* PLACES */
/* ------------------------- */

.section-places {
  padding: 0;
}

.places-showcase {
  list-style: none;
  width: 100%;
}

.places-showcase li {
  display: block;
  float: left;
  width: 33.3%;
}

.place-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.place-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.25);
  transition: transform 0.5s;
}

.place-photo img:hover {
  transition: transform 0.5s;
  opacity: 1;
  transform: scale(1.03);
}

/* ------------------------- */
/* HOW IT WORKS */
/* ------------------------- */

.section-steps {
  /* background-color: #f4f4f4; */
  background-color: #ebebeb;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 80%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step p {
  padding-top: 15px;
  margin-right: 5px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 10px;
  float: left;
  font-size: 1.5em;
  margin-right: 25px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ------------------ */
/* CITIES */
/* ------------------ */

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.city-feature p {
  margin-left: 10px;
}

/* ---------------- */
/* SUGGESTIONS */
/* ---------------- */

.section-twitter-suggestions {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(img/portland-oregon-tree-canopy-reviews.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
}

blockquote:before {
  display: flex;
  content: "\201C";
  font-size: 400%;
}

cite {
  font-size: 90%;
  margin-top: 15px;
  display: block;
}

.suggestions {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 40px;
}
